extends layout

block content
  h2 result
    //- form 
    //-   <input class="typeahead tt-query" spellcheck="false" autocomplete="off" name="search" type="text" />
    //-     a.btn(type=submit , href="/search")  Search
  

